<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>All Caches</title>
  </head>
  <body>
    <table class="sortable" style="table-layout: fixed; width: 100%; word-wrap: break-word;">
      <thead>
        <tr>
          <th style="width: 70%;">Cache</th><th>Hits</th><th>Misses</th><th></th>
        </tr>
      </thead>
      <tbody>
        {% for cache in caches %}
        <tr><td>{{ cache.pretty_name }}</td> <td>{{ cache.hit_count }}</td> <td>{{ cache.miss_count }}</td> <td>[<a href="/cache/flush/{{ forloop.counter0 }}">Flush</a>]</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
